In [24]:
import pandas as pd
ratings_1 = pd.read_csv('data/ratings1.csv')
ratings_2 = pd.read_csv('data/ratings2.csv')
movies = pd.read_csv('data/movies.csv')
dates = pd.read_csv('data/dates.csv')
dates

                       date
0       2000-07-30 18:45:03
1       2000-07-30 18:20:47
2       2000-07-30 18:37:04
3       2000-07-30 19:03:35
4       2000-07-30 18:48:51
...                     ...
100831  2017-05-03 21:53:22
100832  2017-05-03 22:21:31
100833  2017-05-08 19:50:47
100834  2017-05-03 21:19:12
100835  2017-05-03 21:20:15

[100836 rows x 1 columns]

In [28]:
dates['date'] = pd.to_datetime(dates['date'])
years = dates['date'].dt.year
years.value_counts().sort_values

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64