In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data_TSUM_parsing = pd.read_excel('data/Data_TSUM.xlsx',sheet_name='Data_Parsing')
data_TSUM_company = pd.read_excel('data/Data_TSUM.xlsx',sheet_name='Data_Company')
data_TSUM_parsing.head()

       brand Category   producer_id producer_color  price
0  Valentino    Shoes  aaaaa1111_11          black    167
1  Valentino    Shoes  aaaaa1111_12          black    188
2  Valentino    Shoes  aaaaa1111_13          black    184
3  Valentino    Shoes  aaaaa1111_14        bla//ck    196
4  Valentino    Shoes  aaaaa1111_15        bla\\ck    250

In [47]:
str = ['_','/','~','\\\\']
data = data_TSUM_parsing.replace(str,'',regex=True)
data['producer_color'].nunique()

3