In [1]:
import pandas as pd

In [6]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [8]:
student_data.loc[155, 'writing score']

88

In [9]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [14]:
student_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [16]:
student_data[student_data['test preparation course']=="completed"]['reading score'].mean()

73.89385474860335

In [19]:
student_data[student_data['math score']==0].shape[0]

1

In [21]:
student_data[student_data['lunch']=="free/reduced"]['math score'].mean()

58.92112676056338

In [24]:
student_data[student_data['lunch']=="standard"]['math score'].mean()

70.03410852713178

In [33]:
percent = student_data[student_data['parental level of education']=="bachelor's degree"].shape[0]
percents = percent/1000*100
percents

11.799999999999999

In [49]:
student_data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [48]:
median_A = student_data[student_data['race/ethnicity']=='group A']['writing score'].median()
mean_C = student_data[student_data['race/ethnicity']=='group C']['writing score'].mean()
print(abs(median_A-mean_C))

5.827586206896555